.about__text__inner {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    padding-bottom: 7.5rem;

    @media screen and (max-width: 800px) {
        width: 100%;
        padding-bottom: 2rem;
    }
}


.about__text__inner--right,
.about__text__inner--left {
    width: 50%;

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}