.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.9rem;
    opacity: 0.3;
    background-color: #000000;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    z-index: 100000;
}

a:hover~.cursor {
    pointer-events: none;
    transform: translate(-50%, -50%) scale(5);
}

.wrapper-menu:hover~.cursor {
    transform: translate(-50%, -50%) scale(5);
}

.mobile-nav__link {}

span {
    display: inline-block;
    pointer-events: none;
}