.footer .footer__logo {
    @include logo;
    margin-left: 0;
}

.footer__inner {
    display: flex;
    align-items: flex-start;
    padding-top: 1.4rem;
    flex-wrap: wrap;

    @media screen and (max-width: 800px) {
        padding-top: 0;
    }
}

.footer__col {
    display: flex;
    width: 50%;
    align-items: flex-start;

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-top: 2rem;
        justify-content: flex-start;
    }
}



.footer__col--2 {
    padding-left: 6.5rem;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-top: 2rem;
        padding-left: 0;
    }
}

.footer__news--title {
    padding-bottom: 0.5rem;
    @include titlefont;
}

.footer__news--link {
    margin-right: 1rem;
    padding-top: 1.5rem;
    position: relative;
    @include linkfont;

    &:after {
        content: "";
        display: block;
        padding-top: 0.5rem;
        position: absolute;
        border-bottom: 1px solid $gray1;
        opacity: 0.5;
        width: 300px;
        margin-bottom: 5rem;
    }
}

.footer__news--subtitle {
    display: flex;
    width: 300px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.arrow {
    margin-top: 1.5rem;
    fill: red;

    &:hover {
        fill: $black;
        color: red;
    }
}


.address__title {
    @include titlefont;
    padding-bottom: 0.5rem;
}

.address__subtitle {
    @include subtitlefont;
    color: $gray1;
}

.footer__contacts--title {
    @include titlefont;
    padding-bottom: 0.5rem;
}

.footer__contacts--number {
    @include textfont;
    color: $gray1;
}

.footer__contacts--mail {
    @include textfont;
    color: $gray1;
}